{% extends 'base.html' %}



{% block content %}
    <p class="pull-right">{% now 'DATE_FORMAT' %}</p>
    <p>Баланс: <b>{{ balance }}</b></p>
    <p><a href="{% url 'exit' %}" class="btn btn-default btn-sm pull-right">Выход</a></p>
    <p><a href="{% url 'operations' %}" class="btn btn-default btn-sm">Назад</a></p>

{% endblock %}
