{% extends 'base.html' %}



{% block content %}
    <div class="text-center">
        <a href="{% url 'balance' %}" class="btn btn-default">Баланс</a>
        <a href="{% url 'withdraw' %}" class="btn btn-default">Снятие</a>
        <a href="{% url 'exit' %}" class="btn btn-default">Выход</a>
    </div>

{% endblock %}
