{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'js/keyboard.js' %}"></script>
    <script src="{% static 'js/card_format.js' %}"></script>
{% endblock %}


{% block content %}
    <form method="post" class="text-center">{% csrf_token %}
        {% for e in form.number.errors %}
            <div class="alert alert-danger text-center" role="alert">{{ e }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.number.label_tag }}
            {{ form.number }}
        </div>
        <p>
            <button type="submit" class="btn btn-primary btn-sm">OK</button>
        </p>
    </form>

    {% include 'keyboard.html' with input_id=form.number.id_for_label %}

{% endblock %}
