<div id="keyboard" class="text-center" data-input="{{ input_id }}">
    {% for d in '1234567890' %}
        <button type="button" class="key-btn btn btn-default">{{ d }}</button>
        {% if forloop.counter|divisibleby:3 %}<br>{% endif %}
    {% endfor %}
    <button type="button" class="clean-btn btn btn-default btn-sm">Очистить</button>
</div>