{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'js/keyboard.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'bootstrap_messages.html' with messages=messages %}

    <form method="post" class="text-center" action="{% url 'card-auth' %}">{% csrf_token %}
        {{ form.card_number }}
        {% for e in form.pin_code.errors %}
            <div class="alert alert-danger text-center" role="alert">{{ e }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.pin_code.label_tag }}
            {{ form.pin_code }}
        </div>
    <p>
        <button type="submit" class="btn btn-primary btn-sm">OK</button>
    </p>

    </form>

    {% include 'keyboard.html' with input_id=form.pin_code.id_for_label %}
{% endblock %}
