{% extends 'base.html' %}



{% block content %}
    <p>Карта: <b>{{ operation.card.number }}</b></p>
    <p>Дата и время: <b>{{ operation.timestamp }}</b></p>
    <p>Снятая сумма: <b>{{ operation.amount }}</b></p>
    <p>Остаток: <b>{{ operation.balance }}</b></p>
    <p><a href="{% url 'operations' %}" class="btn btn-default btn-sm">Назад</a></p>
{% endblock %}
