{% extends 'base.html' %}
{% load static %}
{% block js %}
    <script src="{% static 'js/keyboard.js' %}"></script>
{% endblock %}


{% block content %}
    {% include 'bootstrap_messages.html' with messages=messages %}

    <form method="post" class="text-center">{% csrf_token %}
        {% for e in form.amount.errors %}
            <div class="alert alert-danger text-center" role="alert">{{ e }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>
        <p>

        <button type="submit" class="btn btn-primary btn-sm">OK</button>
        </p>

    </form>

    {% include 'keyboard.html' with input_id=form.amount.id_for_label %}
            <a href="{% url 'exit' %}" class="btn btn-default btn-sm">Выход</a>


{% endblock %}
